<div class="d-flex flex-column justify-content-center" @onclick="@ChampionClickedHandler">
    <span class="text-break">@Champion.Name</span>
    <img class="@(isClicked ? "glow-border" : "")" src="@iconImageUrl" alt="Example Image">
</div>

@code{
    [Parameter, EditorRequired]
    public required Champion Champion {get; set;}

    [Parameter, EditorRequired]
    public EventCallback<Champion> ChampionClickedEvent {get; set;}

    private string iconImageUrl = string.Empty;
    private bool isClicked = false;

    protected override async Task OnParametersSetAsync()
    {
        var formattedChampionName = Champion.Name.Replace("'", "").Replace(" ", "");
        iconImageUrl = "img/champions/TFT11_" + formattedChampionName + ".TFT_Set11.png";
    }

    public void DeSelect(){
        isClicked = false;
    }

    public void SetSelected(){
        isClicked = true;
    }

    public async Task ChampionClickedHandler()
    {
        await ChampionClickedEvent.InvokeAsync(Champion);
    }
}