<div class="form-check">
    <input class="form-check-input" type="checkbox" id="flexCheckDefault" @bind="IsChecked" @onclick="OnCheckboxClicked">
    <label class="form-check-label" for="flexCheckDefault">
        Cost @Cost
    </label>
</div>



@code {

    [Parameter]
    public EventCallback<bool> OnClick { get; set; }

    [Parameter]
    public bool IsChecked { get; set; }

    [Parameter]
    public int Cost { get; set; }

    private async Task OnCheckboxClicked()
    {
        await OnClick.InvokeAsync(IsChecked);
    }
}
