@typeparam TEntity

<input @bind="searchItem"  placeholder="Search Champions"/>

<button @onclick="OnSearchClicked">Search</button>

@code {
    [Parameter]
    public List<TEntity> Items { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch{ get; set; }

    private string searchItem;

    private async Task OnSearchClicked()
    {
        await OnSearch.InvokeAsync(searchItem);
    }
}
